doctype html
html
  head
    title Deepanshu Dance website
    block scripts
    block style
      
  body
    nav#navbar
        img(src="/static/m1logo.png", alt="")
        ul
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/") services]
            li #[a(href="/") more info]
            li #[a(href="/contact") contact us]
    block content
    footer#foot
      | Copyrights © Dance website.com | All rights reserved