doctype html
html
  head
    title Deepanshu Dance website
    style
      include ../static/style.css
  body    
    nav#navbar
        img(src="/static/m1logo.png", alt="")
        ul
            li #[a(href="/") home]
            li #[a(href="/") about]
            li #[a(href="/") services]
            li #[a(href="/") more info]
            li #[a(href="/contact") contact us]
    section#dance
        h1 Welcome to dance website
        p Dance with us
    h1 Our mission
    section#mission
      div.container
        h2 Dance perfection
        div.card-box
          div.card-img
            img(src="/static/m3.png", alt="error")
          div.card-content
            p ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis fuga impedit.
      div.container
        h2 Dance perfection
        div.card-box
          div.card-img
            img(src="/static/m2.png", alt="error")
          div.card-content
            p ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis fuga impedit.
      div.container
        h2 Dance perfection
        div.card-box
          div.card-img
            img(src="/static/m4.png", alt="error")
          div.card-content
            p ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis fuga impedit.
    h1 Our sponsors
      div#container
        img(src="/static/sponsor.png", alt="error")
    footer#foot
      | Copyrights © Dance website.com | All rights reserved



